fastapi>=0.109,<0.112
uvicorn[standard]>=0.27,<0.30
httpx[http2]>=0.26,<0.28
pydantic>=2.6,<3.0
pydantic-settings>=2.1,<3.0
python-dotenv>=1.0,<2.0
python-jose[cryptography]>=3.3.0,<4.0.0
python-multipart>=0.0.6,<0.1.0
